{{#md-card class="tweet"}}
    {{#md-card-content}}
        {{tweet.category}}: {{tweet.tweetText}} {{tweet.url}} by {{tweet.user}} {{tweet.hashtags}}
    {{/md-card-content}}
    {{#md-card-action}}
      {{#if (can "approve tweet" tweet)}}
        {{#if tweet.approved}}
          <a {{action "approveTweet" tweet}}>Reject</a>
          {{else}}
          <a {{action "approveTweet" tweet}}>Approve</a>
        {{/if}}
      {{/if}}
      {{#if (can "delete tweet" tweet)}}
        <a {{action "deleteTweet" tweet}}>Delete</a>
      {{/if}}
      {{#if (can "edit tweet" tweet)}}
        {{#link-to 'edit' tweet}}Edit{{/link-to}}
      {{/if}}
      {{#if tweet.approved}}
        <small>Status: Approved</small>
      {{else}}
        <small>Status: Pending</small>
      {{/if}}
    {{/md-card-action}}
{{/md-card}}
