{{#md-card class="tweet"}}
    {{#md-card-content}}
        {{tweet.category}}: {{tweet.tweetText}} {{tweet.url}} by {{tweet.user}} {{tweet.hashtags}}
    {{/md-card-content}}
    {{#md-card-action}}
      {{#if (can "approve tweet")}}
        <a {{action "approveTweet" tweet}}>Delete</a>
      {{/if}}
      {{#if (can "delete tweet" tweet)}}
        <a {{action "deleteTweet" tweet}}>Delete</a>
      {{/if}}
    {{/md-card-action}}
{{/md-card}}
